[ req ]
default_bits           = 4096
default_keyfile        = mojserver.key
distinguished_name     = req_distinguished_name
encrypt_key            = no
req_extensions         = v3_user_req
default_md	       	   = sha256

[ v3_user_req ]
basicConstraints       = CA:FALSE
subjectKeyIdentifier   = hash
subjectAltName         = @alt_names

[ req_distinguished_name ]
countryName                    = SI
countryName_min                = 2
countryName_max                = 2
localityName                   = Mesto
organizationName               = Ime organizacije
organizationalUnitName         = Ime organizacijske enote
commonName                     = FQDN ali IP Strežnika (npr. localhost ali 192.168.0.55 ali ...) 
commonName_max                 = 64


#########################################
###   Vnesite / zamenjajte vrednosti  ###
###   skladno z vašo organizacijo     ###
###################  ####################
                  #  #
                  #  #
               ####  ####
                #      #
                 #    #
                  #  #
                   ##

countryName_default            = SI
localityName_default           = Ljubljana
organizationName_default       = Vegova BCD
commonName_default             = jaka.cernetic.ct

#OPCIJSKO
#organizationalUnitName_default = 

########################
### Obvezeni so DNS.1, ki mora biti hkrati isti kot commonName_default(zgoraj). vsebuje vaše ime in priimek v FQDN obliki kot: janez.novak.si
###             DNS.2, naj vsebuje IP računalnika, na katerem bo strežnik (za katerih sedite)
###             IP.1   je IP računalnika na katerem se izvaja strežniška storitev (kot DNS.2)
### Odvečne IP / DNS zakomentirajte z "#"
##
##
##     predlagam vam, da je CN oblike FQDN kot npr. janez.kranjski.si
##     potem v datoteko hosts nastavite  192.168.106.222		janez.kranjski.si    -//  local resolver 
##
##     pri cemer je IP naslov vašega računalnika
##     in v apache.conf / httpd.conf  nastavite  hostname na janez.kranjski.si
##
#######################

[alt_names]
DNS.1   = jaka.cernetic.ct
DNS.2   = 192.168.106.93
#DNS.3   =  streznikX.org.si
IP.1	= 192.168.106.93
#IP.2	= 2001:dead:beef:ZZZ::666

#Izdelajte certifikatni zahtevek z uporabo pripravljene nastavitvene datoteke. 
#Privatni ključ se shrani v datoteko, določeno z default_keyfile (mojserver.key).
#
#    ukaz za izdelavo zahtevka:
#       openssl req -batch -new -config config_vaje.cfg -out janez.kranjski.csr -keyout janez.kranjski.key
#
#        --> privatni ključ dobite v datoteki 'janez.kranjski.key'
#        --> certifikatski zahtevek je v datoteki 'janez.kranjski.csr'
#
#    pregled zahtevka:
#      openssl req -in janez.kranjski.csr -text
#